html, body {
  height: 100%;
  margin: 0;
  background: #FFFFFF;
  color: #00CC00;
  font: 15px/1.5 system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
}

.filters {
  padding:4px 8px 4px 8px;
  background: #DDFFDD;
  border-radius: 16px;
  position: relative;
  top: -2.4rem;
  left: 1rem;
  width: 92%;
}

.searchbar {
  position: relative;
  top: -3.2rem;
  left: 1rem;
  width: 92%;
  padding:4px 8px 4px 8px;
  background: #DDFFDD;
  border-radius: 16px;
}
.searchbar textarea {
  position: absolute;
  display: inline-block;
  right: 5px;
  bottom: 2px;
  width: 80%;
  border-radius: 16px;
  resize: none;
}
.searchbar span {
  margin-left: 5px;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.bug {
  border-radius: 16px;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.subtitle {
  display: inline-block;
  position: relative;
  font-style: italic;
  top: -3rem;
  left: 165px;
}

.slider-container{
  width: 337px;
  height: 136px;
  max-height: 136px;
}

.titlebar a:link {
  color: #00CC00;
}

.titlebar a:visited {
  color: #00CC00;
}

.titlebar {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 16px 20px;
  display:flex;
  justify-content: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.06);
  box-shadow: 0 2px 12px rgba(0,0,0,0.25);
}

.scroller {
  overflow: auto;
  padding: 5px;
  background-color: #000000;
}

.masonry-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: auto;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  -webkit-column-width: 450px;
  -moz-column-width: 450px;
  column-width: 450px;
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.masonry-item img {
  display:block;
  width: 100%;
}

#drag-me-1 {
  position: relative;
  width: 102px;
  height: 41px;
  left: -58px;
  background-image: url('../res/drag_me_1.png');
  background-position: 0px 0px;
  animation: drag-me-1 500ms step-end infinite;
  transition: opacity 2s ease-in-out 1s;
}

#drag-me-2 {
  position: relative;
  top: 75px;
  left: -24px;
  width: 105px;
  height: 48px;
  background-image: url('../res/drag_me_2.png');
  background-position: 0px 0px;
  animation: drag-me-2 500ms step-end infinite;
  transition: opacity 2s ease-in-out 1s;
}

@keyframes drag-me-1 {
  0% { background-position: 0px 0px}
  33% { background-position: 0px 41px}
  66% { background-position: 0px 82px}
}

@keyframes drag-me-2 {
  0% { background-position: 0px 0px}
  33% { background-position: 0px 48px}
  66% { background-position: 0px 96px}
}

.slidee {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.slidee-img {
  position: relative;
  left: 12px;
  top: 2px;
  width: 11px;
  height: 31px;
  background-image: url('../res/slidee.png');
  background-position: 0px 0px;
  animation: slidee 500ms step-end infinite;
}

#slidee-2 > div {
  animation-delay: 275ms;
  animation: slidee 600ms step-end infinite;
}

.slidee-container {
  display: inline-block;
  position: relative;
}

#slidee-container-1 {
  left: 120px;
}

#slidee-container-2 {
  left: 170px;
}

.slider {
  position: relative;
  top: 68px;
  width: 337px;
  height: 11px;
  background-image: url('../res/slider.png');
  background-position: 0px 0px;
  animation: slider 550ms step-end infinite;
  animation-delay: 125ms;
}

@keyframes slider {
  0% { background-position: 0px 0px }
  33% { background-position: 0px 11px }
  66% { background-position: 0px 22px }
}

@keyframes slidee {
  0% { background-position: 0px 0px }
  33% { background-position: 11px 0px }
  66% { background-position: 22px 0px }
}

.back {
  position: absolute;
  left: 146px;
  top: 86px;
  height: 56px;
  width: 94px;
  background-image: url('../res/back.png');
  background-position: 0px 0px;
}

.back:hover {
  background-position: 0px 112px;
}

.back:active {
  background-position: 0px 56px;
}

#head {
  position: absolute;
  left: 18px;
  height: 136px;
  width: 116px;
  background-image: url('../res/head.png');
  background-position: 0 0;
  animation: head 1s step-end infinite;
}

@keyframes head {
  0% { background-position: 0px 0px; }
  50% { background-position: 116px 0px; }
}

.guys {
  position: relative;
  width: 200px;
  left: 400px;
  top: -150px;
}
