#preview {
  width: 256px;
  height: 256px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border: inset 4px;
}

#joel {
  line-height: 1.2;
  font-size: 10px;
  text-align: center;
}

#braillegen-output {
  background-color: #000000;
  color: #FFFFFF;
  position: relative;
  width: 838px;
  height: 838px;
  border: outset 4px;
  border-color: #000000;
  font-size: 12px;
  line-height: 13.05px;
  letter-spacing: -2.25px;
}

#threshold {
  width: 320px;
}
#content > div > * > #dither-threshold-note {
  font-size: 14px;
  display: none;
}
