#file {
  display: none;
}

#images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image-container {
  font-size: 22px;
  margin: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container > img {
  width: 85%;
  height: 85%;
  border: 6px outset;
}

.notice {
  font-size: 24px;
}

#slot {
  width: 70px;
}

#error {
  color: #EE0000;
  display: none;
}

#error > span {
  color: #CC0000;
}

#meivm-encoder > * > textarea {
  position: relative;
  width: 90%;
  height: 120px;
}

.runic-label {
  animation: colorRotate 5s linear 0s infinite;
}
@keyframes colorRotate {
  0% {
    color: #cf0000;
  }
  12.5% {
    color: #cfa500;
  }
  32.5 {
    color: #00cf3e;
  }
  45% {
    color: #00cbcf;
  }
  69.5% {
    color: #0000cf;
  }
  75% {
    color: #8a00cf;
  }
  87.5% {
    color: #cf008a;
  }
  100% {
    color: #cf0000;
  }
}
