#file {
  display: none;
}

#images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image-container {
  font-size: 22px;
  margin: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container > img {
  width: 85%;
  height: 85%;
  border: 6px outset;
}

.notice {
  font-size: 24px;
}

#slot {
  width: 70px;
}

#error {
  color: #EE0000;
  display: none;
}

#error > span {
  color: #CC0000;
}

