.card {
  width: 71px;
  height: 96px;
}

.card-big {
  width: 142px;
  height: 192px;
}

#gfp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gfp-card {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin: 10px;
  transform: translate(0.0, 100%);
  transition: opacity 1s, transform 1s;
}

.gfp-card > img {
  transition: transform 300ms linear;
}

.gfp-text {
  opacity: 0;
  text-align: center;
  transition: opacity 1s;
  margin: 4px;
}

#gfp-card-1 {
  margin-top: 60px;
}
#gfp-card-2 {
  margin-bottom: 60px;
}
#gfp-card-3 {
  margin-top: 60px;
}

#gfp-calc-container {
  text-align: center;
}

#history-container {
  max-width: 738px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  flex: 1 1 auto;
}

.user-draw {
  width: 335px;
  height: 135px;
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  background-color: #00FF0033;
  border-radius: 5px;
  transition: opacity 300ms;
}

.user-card-container > img {
  transition: transform 300ms linear;
}

.user-draw-info {
  margin-left: 20px;
  flex-direction: column;
}

.user-card-container {
  flex-direction: column;
  text-align: center;
}

.user-draw-affinity {
  display: inline-block;
  margin-top: 7px;
}
