html, body {
  height: 100%;
  margin: 0;
  background: #FFFFFF;
  color: #00CC00;
  font: 15px/1.5 system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
}

.filters {
  padding:4px 8px 4px 8px;
  background: #DDFFDD;
  border-radius: 16px;
  position: relative;
  top: -2.4rem;
  left: 1rem;
  width: 92%;
}

.searchbar {
  position: relative;
  top: -3.2rem;
  left: 1rem;
  width: 92%;
  padding:4px 8px 4px 8px;
  background: #DDFFDD;
  border-radius: 16px;
}
.searchbar textarea {
  position: absolute;
  display: inline-block;
  right: 5px;
  bottom: 2px;
  width: 80%;
  border-radius: 16px;
  resize: none;
}
.searchbar span {
  margin-left: 5px;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.bug {
  border-radius: 16px;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.back {
  display: inline-block;
  padding:4px 8px 4px 8px;
  background: #DDFFDD;
  border-radius: 16px;
  position: relative;
  top: -3rem;
  left: 1rem;
}

.subtitle {
  display: inline-block;
  position: relative;
  font-style: italic;
  top: -3rem;
  left: 165px;
}

.titlebar div {
  max-height: 185px;
}

.titlebar a:link {
  color: #00CC00;
}

.titlebar a:visited {
  color: #00CC00;
}

.titlebar {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 16px 20px;
  display:flex;
  justify-content: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.06);
  box-shadow: 0 2px 12px rgba(0,0,0,0.25);
}

.scroller {
  overflow: auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.2rem, 1fr));
  gap: 14px;
}

.item {
  background: #CCFFCC;
  border: 1px solid rgba(255,255,255,0.06);
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  aspect-ratio: 1 / 1.29;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 10px;
}

.item small {
  color: #96a2b3; 
}
